{% extends "base.html" %}

{% block title %}Rankings (Cards){% endblock title %}

{% block header %}
<style>
    body {
        background-color: black;
    }

    #block_content table, #block_content td, #block_content th {
        border: 1px solid #045;
    }

    #block_content td {
        padding: 10px 25px 10px 25px;
    }

    #block_content th {
        background-color: #011;
    }

    #block_content tr:nth-child(odd) {
        background-color: #00111a;
    }

    a:link, a:visited {
        color: white;
    }

    a:hover, a:active {
      color: #f00;
      text-decoration: none;
    }

    .name {
        font-weight: bold;
    }

    .wrestlers {
        font-size: 12px;
    }

    h5 {
        color: #0af;
    }

    h4, a.gold:link, a.gold:visited {
        color: #0ff;
    }
</style>
{% endblock header %}

{% block content %}

<h4 class="centered nomargin" style="padding-bottom: 10px">{{ updated_on|safe }}</h4>

{% for event, table in output.items() %}
    <div style="padding-bottom: 15px">
        <h5 class="centered nomargin">{{ event|safe }}</h5>
        {{ table|safe }}
    </div>
{% endfor %}

{% endblock content %}